*{
    padding: 0;
    border:0;
    box-sizing: border-box;
}
body{
    background-color: #121214;
    color: #FFFFFF;
}
/* header styles*/
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background-color:#1A1A1E;
}

.nav-list{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.list-item{
    padding-right: 50px;
    padding-top: 16px;
    font-size: 20px;
}

.cart-item{
    padding-left: 0 ;
    padding-top: 0; 
    margin-right: 20px;
}

.logo{
    width: 100px;
}
.cart-image{
    width: 60px;
    height: 60px;
}

.login{
    margin: 10px;
    padding: 10px;
}

.nav-title{
    padding-top: 10px;
}

/* res cards*/

.res-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.res-card{
    margin: 80px;
    background-color:#1E1E24;
    width: 300px;
    padding: 5px;
    border-radius: 9px; 
    line-height: 0.3;
}

.res-card:hover{
    border: 3px solid white;
    cursor: pointer; 
}

.search{
    padding: 10px; 
}

.res-logo{
    width: 100%;
}

.res-name,.res-cuisine{
    line-height: 1;
}

/* filter by button*/

.btn-filter{
    display: flex;
    justify-content: center;
}

.filter-btn{
    margin-top: 40px;
    padding: 8px;
    background-color: #FF6B35;
    border-radius: 9px;
    cursor: pointer;
}

.filter-btn:hover{
    opacity: 0.7;
}

/* filter by searchBar*/
.search-filter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input{
    width: 30%;
    padding: 10px;
    border-radius: 8px;
}
.search-btn{
    border-radius: 8px;
    margin: 20px;
    padding: 10px;
}

.search-btn:hover{
    cursor: pointer;
    opacity: 0.7;
}

/* Shimmmer UI*/
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    margin: 80px;
    background-color: #1f1f1f;
    width: 300px;
    height: 400px;
}

.shimmer-image{
    margin-top: 8px;
    height: 50%;
    background-color: #2a2a2a;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 8px;
}

/* no content styling*/
.no-content-div{
    display: flex;
    justify-content: center;
    align-items: center;
}




